<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Timesheet · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding-bottom: 20px;">
      <!-- <nav class="navbar navbar-expand-sm bg-blue navbar-light nav-justified"> !-->
        <!-- <div class="col-4">
          <a class="navbar-brand" href="#">Timesheet</a>
        </div> !-->
        <a class="navbar-brand" href="#" style = "font-size: 30px;">Timesheet App</a>
        <%= if @current_user do %>
          <%= if @current_user.isManager do %>
            <div class="col-4">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/sheets/">Approve Timesheets</a>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="col-4">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/sheets/new">Fill Timesheet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sheets/">View Timesheet</a>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
        <div class="col-4 text-light" align="right">
          <%= if @current_user do %>
            User: <%= @current_user.name %>
            (<%= link("Logout", to: Routes.session_path(@conn, :delete),
              method: :delete) %>)
          <% else %>
            <%= link("Login", to: Routes.session_path(@conn, :new)) %>
          <% end %>
        </div>
      </nav>
      <div style="padding-top: 30px;">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
